<%- include('./includes/header') %>
    <main>
        <h1>Update post</h1>
        <form action="/posts/edit/<%=post.id%>" method="POST">
            <div>
                <label for="title">Title</label>
                <input required type="text" name="title" id="title" value="<%= post.title %>">
            </div>
            <div>
                <label for="summary">Summary</label>
                <input required type="text" name="summary" id="summary" value="<%= post.summary %>">
            </div>
            <div>
                <label for="content">Post Content</label>
                <textarea required name="content" id="content"><%= post.content %></textarea>
            </div>
            <div>
                <button>Update Post</button>
            </div>
        </form>
    </main>    
</body>
</html>