<!DOCTYPE html>
<html>
<head>
    <%- include('./includes/head', {title:"Edit Post"}) %>
</head>
<body>
    
<header>
    <%-include('./includes/header') %>
</header>    <main>
        <h1>Update post</h1>
        <form id="form" action="/posts/edit/<%=post.id%>" method="POST">
            <div class="form-control">
                <label for="title">Title</label>
                <input required type="text" name="title" id="title" value="<%= post.title %>">
            </div>
            <div class="form-control">
                <label for="summary">Summary</label>
                <input required type="text" name="summary" id="summary" value="<%= post.summary %>">
            </div>
            <div class="form-control">
                <label for="the-post-content">Post Content</label>
                <textarea required name="content" id="the-post-content"><%= post.content %></textarea>
            </div>
            <div class="form-control">
                <button>Update Post</button>
            </div>
        </form>
    </main>    
</body>
</html>