<%-include('./includes/header') %>
<main>
    <h1>All Posts</h1>

    <% if (allPosts.length > 0) { %>
    <ul>

        <% for (const post of allPosts) { %>

        <li>
            <article>
                <div>
                    <h3><%= post.title %></h3>
                    <p>By <%= post.fullName %></p>
                    <p><%= post.summary %></p>
                    <p><%= post.content %></p>
                </div>
                <div>
                    <ul>
                        <li><a href="/posts/delete/<%=post.id%>">Delete Post</a></li>
                        <li><a href="/posts/edit/<%=post.id%>">Edit Post</a></li>
                        <li><a href="/posts/view/<%=post.id%>">View Post</a></li>
                    </ul>
                </div>
            </article>
    
        </li>
    <% } %>
    </ul>
  <% } else { %>
    
    <p>There is no post yet, maybe create some here : <a href="">create post</a></p>

    <% } %>
    
</main>
    
</body>
</html>