<!DOCTYPE html>
<html>
<head>
    <%- include('./includes/head', {title:"Post Detail"}) %>
</head>
<body>
    
<header>
    <%-include('./includes/header') %>
</header>
<main id="post-content">
    <article>
        <h3><%= thePost.title %></h3>
        <div id="time">
            <address><a href="mailto:<%=thePost.email%>"><%=thePost.fullName%></a></address> <small>|</small> <time datetime="<%= thePost.creation_date %>"><%= thePost.creation_date?.toLocaleString("fa-IR", {dateStyle:"short"}) %></time>
        </div>
        <hr/>
        <div id="content">
            <p><%= thePost.summary %></p>
            <p><%= thePost.content %></p>
        </div>
    </article>
</main>


</body>
</html>