<%- include('./includes/header') %>    
<main>
    <article>
        <title><%= thePost.title %></title>
        <address><a href="mailto:<%=thePost.email%>"><%=thePost.fullName%></a></address>|<time datetime="<%= thePost.creation_date %>"><%= thePost.creation_date?.toLocaleString("fa-IR", {dateStyle:"short"}) %></time>
        <hr/>
        <p><%= thePost.summary %></p>
        <p><%= thePost.content %></p>
    </article>
</main>


</body>
</html>