<!DOCTYPE html>
<html>
<head>
    <%- include('./includes/head', {title:thePost.title}) %>
</head>
<body>
    
<header>
    <%-include('./includes/header') %>
</header>
<main id="post-content">
    <article>
        <h3><%= thePost.title %></h3>
        <div id="time">
            <address><a href="mailto:<%=thePost.email%>"><%=thePost.fullName%></a></address> <small> |</small> <time datetime="<%= thePost.creation_date %>"><%= thePost.creation_date?.toLocaleDateString("en-us", {weekday:"long", year:"numeric", month:"long", day:"numeric"}) %></time>
        </div>
        <hr/>
        <div id="post-contents">
            <p><%= thePost.summary %></p>
            <p id="post-content-paragraph"><%= thePost.content %></p>
        </div>
    </article>
</main>


</body>
</html>